<!-- <div class="body">
    <div class="container">
        <h1 style="color: lavender;">Welcome to Payment Page</h1>

        <p style="color: lavender;">Fees:200</p>
    </div>
    <form class="form-container">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 offset-md-3 border p-4 shadow bg-light">
                    <div class="col-12">
                        <h3 class="fw-normal text-secondary fs-4 text-uppercase mb-4">PAYMENT PAGE</h3>
                        </div>
                                <div class="col-12 mt-5">                        
                                    <a href="/doctorpage" type="submit" class="btn btn-primary float-end" (click)="amount()">Pay Now</a>
                                </div>
                            
                        </div>
                    </div>
        </div>

      
 -->
